{% extends 'base.html' %}

{% block title %}Alterar Sorteio{% endblock %}

{% block content %}
  <h2 style="margin-bottom: 20px;">Alterar Sorteio</h2>

  <form class="formulario" method="post" style="gap: 12px;">
    <input name="sorteio_id" type="hidden" value="{{sorteio.id_sorteio}}">
    <div>
      <label for="nome" style="font-weight: bold;">Nome do Sorteio</label><br>
      <input class="inserir" name="nome" id="nome" value="{{sorteio.nome}}" required>
    </div>
    <div>
      <label for="data_inicial" style="font-weight: bold;">Data Inicial</label><br>
      <input class="inserir" name="data_inicial" id="data_inicial" type="date" value="{{sorteio.data_inicial}}" required>
    </div>
    <div>
      <label for="data_limite" style="font-weight: bold;">Data Limite</label><br>
      <input class="inserir" name="data_limite" id="data_limite" type="date" value="{{sorteio.data_limite}}">
    </div>
    <div>
      <label for="valor_por_bilhete" style="font-weight: bold;">Valor de compras para cada bilhete</label><br>
      <nobr>R$</nobr><input class="inserir" name="valor_por_bilhete" id="valor_por_bilhete" value="{{sorteio.valor_por_bilhete}}" type="number">
    </div>
    <button class="blue-button" type="submit">
      Alterar Sorteio
    </button>
  </form>
{% endblock %}
