{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Gerar Código para Novo Bilhete{% endblock %}</h1>

{% endblock %}
{% block content %}
    {% if sorteio_escolhido %}
        <article>
            <div>
            <form id="sorteio_form" method="post">
                <label for="sorteio">Nome do Sorteio</label>
                <select name="sorteio" form_id="sorteio_form" required>
                    {% for sorteio in sorteios %}
                        <option value="{{sorteio['id']}}">{{sorteio['nome']}}</option>
                    {% endfor %}
                </select>
            
            <input type="submit" value="Depositar Bilhete">
            </form>
        </div>
        </article>
    {% else %}
        <article>
            <div>
            <form id="sorteio_form" method="post">
                <label for="sorteio">Nome do Sorteio</label>
                <select name="sorteio" form_id="sorteio_form" required>
                    {% for sorteio in sorteios %}
                        <option value="{{sorteio['id']}}">{{sorteio['nome']}}</option>
                    {% endfor %}
                </select>
            <input type="submit" value="Gerar Código para este Sorteio">
            </form>
        </div>
        </article>
    {% endif %}
{% endblock %}
