{% extends 'base.html' %}

{% block title %}Área de Administrador{% endblock %}

{% block content %}
  <h2 style="margin-bottom: 20px;">Bem vindo à Área de Administrador do Sistema de Sorteios WEB</h2>

  <article>
    <div style="display: flex; flex-direction: column; gap: 12px; max-width: 500px;">

      <h3 style="margin-top: 10px;">🎲 Gerenciar Sorteios</h3>
      <a href="{{ url_for('admin.novo_sorteio') }}" style="text-decoration: none; background-color: #007BFF; color: white; padding: 10px; border-radius: 5px;">Criar novo sorteio</a>
      <a href="{{ url_for('admin.gerenciar_sorteios') }}" style="text-decoration: none; background-color: #8b40c9; color: white; padding: 10px; border-radius: 5px;">Gerenciar sorteios abertos</a>
      <a href="{{ url_for('admin.gerar_codigo') }}" style="text-decoration: none; background-color: #17A2B8; color: white; padding: 10px; border-radius: 5px;">Gerar novo código de bilhete</a>
      <a href="{{ url_for('admin.sortear_bilhete') }}" style="text-decoration: none; background-color: #FFC107; color: black; padding: 10px; border-radius: 5px;">Sortear o bilhete vencedor</a>
      <a href="{{ url_for('admin.consultar_vencedor') }}" style="text-decoration: none; background-color: #6C757D; color: white; padding: 10px; border-radius: 5px;">Consultar vencedor de sorteio já realizado</a>

      <h3 style="margin-top: 20px;">🔐 Gerenciar Acessos</h3>
      <a href="{{ url_for('auth.alterar_admin') }}" style="text-decoration: none; background-color: #28A745; color: white; padding: 10px; border-radius: 5px;">Alterar meus dados</a>
      <a href="{{ url_for('auth.adicionar_admin') }}" style="text-decoration: none; background-color: #DC3545; color: white; padding: 10px; border-radius: 5px;">Adicionar novo administrador</a>

    </div>
  </article>
{% endblock %}
