{% extends 'base.html' %}

{% block title %}Sortear Bilhete Vencedor{% endblock %}

{% block content %}
  {% if sorteio_escolhido %}
    {% if not validado %}
    <article>
      <h2>O Bilhete Sorteado foi:</h2>
      <div style="background-color: #e9ecef; padding: 20px; border-radius: 8px; margin-bottom: 20px;">
        <p><strong>Bilhete Vencedor:</strong></p>
        <p style="font-size: 18px; color: #17a2b8;">Código: {{ sorteado.codigo }}</p>
        <p>Nome: {{ sorteado.nome }} {{ sorteado.sobrenome }}</p>
        <p>Celular: {{ sorteado.celular }}</p>
      </div>
      <div>
        <form method="post">
            <input type="hidden" name="id_bilhete" value="{{sorteado['id_bilhete']}}"></input>
            <input type="submit" value="Validar Sorteio" style="padding: 10px; background-color: #28a745; color: white; border: none; border-radius: 5px;"></input>
        </form>
      </div>        
    </article>
    {% else %}
      <article>
        <h2>Validado o vencedor:</h2>
        <div style="background-color: #e9ecef; padding: 20px; border-radius: 8px; margin-bottom: 20px;">
          <p><strong>Bilhete Vencedor:</strong></p>
          <p style="font-size: 18px; color: #17a2b8;">Código: {{ sorteado.codigo }}</p>
          <p>Nome: {{ sorteado.nome }} {{ sorteado.sobrenome }}</p>
          <p>Celular: {{ sorteado.celular }}</p>
        </div>

        <div>
          <a href="{{ url_for('admin.index') }}" style="text-decoration: none; background-color: #007BFF; color: white; padding: 10px; border-radius: 5px; width: fit-content;">Voltar para a Área de Administrador</a>
        </div>
      </article>        
    {% endif %}
  {% else %}
    <form method="post" style="display: flex; flex-direction: column; gap: 12px; max-width: 400px;">
      <label for="sorteio_id">Selecione o sorteio:</label>
      <select name="sorteio_id" id="sorteio_id" required style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
        {% for sorteio in sorteios %}
          <option value="{{ sorteio.id_sorteio }}">{{ sorteio.nome }}</option>
        {% endfor %}
      </select>
      <button type="submit" style="padding: 10px; background-color: #28a745; color: white; border: none; border-radius: 5px;">Sortear Vencedor</button>
    </form>
  {% endif %}
{% endblock %}
