# Ignora arquivos de cache do Python
#__pycache__/
*.py[cod]

# Ignora arquivos temporários do sistema
*.swp
*.DS_Store
Thumbs.db

# Ignora banco SQLite (opcional – só se não quiser versionar o banco)
*.sqlite
*.db

# Ignora pastas/arquivos pessoais do VSCode ou IDEs
.vscode/
.idea/

# Ignora arquivos de ambiente virtual
#env/
#venv/
#.venv/
ambiente/
