{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Resultados Consulta{% endblock %}</h1>

{% endblock %}

{% block content %}
  {% if bilhetes_encontrados %}
    <article>
      <div>
        <h2>Bilhetes Encontrados</h2>
        <table>
          <tr>
            <th>Codigo</th>
            <th>Celular</th>
            <th>Sorteio</th>
            <th>Resultado</th>
          </tr>
        {% for bilhete in bilhetes_encontrados %}
          <tr>
            <td>{{bilhete['codigo']}}</td>
            <td>{{bilhete['celular']}}</td>
            <td>{{bilhete['nome_sorteio']}}</td>
            {% if bilhete['realizado'] %}
              {% if (bilhete['id_bilhete'] == bilhete['id_sorteado']) %}
                <td>Vencedor!</td>
              {% else %}
                <td>Não foi sorteado</td>
              {% endif %}
            {% else %}
              <td>Sorteio em breve</td>
            {% endif %}
          </tr>

        {% endfor %}
        </table>
      </div>
    </article>
  {% else %}
      <p>Não foi encontrado nenhum bilhete com os valores pesquisados</p>
      <a href="{{ url_for('bilhetes.consultar_bilhetes') }}">Nova pesquisa</a>
  {% endif %}
{% endblock %}