* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF0D1;
    color: #3B3030;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    color: #664343;
    text-decoration: none;
}

.main-header {
  background-color: #462323;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #FFF0D1;
}

/*Navbar*/

.navbar {
  width: 100%;
  height: 4rem;
  background-color: #593737;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
    margin-left: 2.5rem;
    font-size: 2.5rem;
    color: #FFF0D1;
}

.navbar ul {
    margin-right: 2.5rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar li {
    color: #FFF0D1;
    display: inline-flex;
    justify-content: space-evenly;
}


.navbar-item {
    color: #FFF0D1;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-item:hover {
    color: #FFFFFF;
    text-decoration: none;
}





/* Depositar e consultar/index.html */

#opcoes {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-around;
}

#depositarbilhete {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

#consultarbilhete {
    text-decoration: none;
    background-color: #28A745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

.inserir {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}


.green-button {
    padding: 10px;
    background-color: #28A745;
    color: white;
    border: none;
    border-radius: 5px;
}

.blue-button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Ãrea de ADM */

/* MAIN */

main {
    padding: 25px;
}



.content {
    background-color: #fcf6e8;
    padding: 1.5rem;
    border: 1px solid #d3c5b4;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05); 
}

.content h1 {
    color: #593737; 
    border-bottom: 2px solid #d3c5b4;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.content > header { 
    border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; 
}

.content > header h1 {
    flex: auto; margin: 1rem 0 0.25rem 0; 
}

.flash { 
    margin: 1em 0; padding: 1em; background: #ddc795; border: 1px solid #4e3606; 
}

.post > header { 
    display: flex; align-items: flex-end; font-size: 0.85em; 
}
.post > header > div:first-of-type {
    flex: auto; 
}

.post > header h1 { 
    font-size: 1.5em; margin-bottom: 0; 
}

.post .about { 
    color: slategray; font-style: italic; 
}

.post .body {
    white-space: pre-line; 
}

.content:last-child {
    margin-bottom: 0; 
}

.content form { 
    margin: 1em 0; display: flex; flex-direction: column; 
}

.content label { 
    font-weight: bold; margin-bottom: 0.5em; 
}

.content input, .content textarea {
    margin-bottom: 1em; 
}

.content textarea { 
    min-height: 12em; resize: vertical; 
}

input.danger {
     color: #cc2f2e; 
    }

input[type=submit] { 
    align-self: start; min-width: 10em; 
}