{% extends 'base.html' %}

{% block title %}Depositar Bilhete{% endblock %}

{% block content %}
  <h2 style="margin-bottom: 20px;">Deposite seu bilhete abaixo</h2>

  <form class="formulario" method="post">
    <input class="inserir" name="codigo" placeholder="Código" required>
    <input class="inserir" name="nome" placeholder="Nome" required>
    <input class="inserir" name="sobrenome" placeholder="Sobrenome" required>
    <input class="inserir" name="celular" placeholder="Celular" required>
    <button class="blue-button" type="submit">Depositar</button>
  </form>
{% endblock %}