{% extends 'base.html' %}

{% block title %}Cadastrar Novo Usuario{% endblock %}

{% block content %}
  <h2 style="margin-bottom: 20px;">Cadastrar novo usuário</h2>

  <form method="post" style="display: flex; flex-direction: column; gap: 10px; max-width: 500px;">
    <label for="usuario">Nome:</label>
    <input name="usuario" id="usuario" required style="padding: 8px; border-radius: 5px; border: 1px solid #ccc;">

    <label for="senha">Senha:</label>
    <input name="senha" id="senha" type="password" required style="padding: 8px; border-radius: 5px; border: 1px solid #ccc;">

    <label for="cpf">CPF:</label>
    <input name="cpf" id="cpf" required style="padding: 8px; border-radius: 5px; border: 1px solid #ccc;">

    <label for="celular">Celular:</label>
    <input name="celular" id="celular" required style="padding: 8px; border-radius: 5px; border: 1px solid #ccc;">

    <div style="font-size:14px;"> 
    <input type="checkbox" id="lgpd" required> 
    
    <label for="lgpd"> 
    Declaro que li e concordo com a coleta e tratamento dos meus dados pessoais 
    fornecidos neste formulário. Os dados serão utilizados exclusivamente para 
    análise de comportamento do consumidor, contato e participação nos sorteios 
    promovidos pela empresa, conforme a 
    Lei Geral de Proteção de Dados (Lei nº 13.709/2018). 
    </label> 
    </div>

    <button type="submit" style="padding: 10px; background-color: #dc3545; color: white; border: none; border-radius: 5px;">
      Cadastrar novo usuário
    </button>
  </form>

  {% if resultado %}
    <div style="margin-top: 20px; padding: 12px; background-color: #d4edda; border-left: 5px solid #28a745;">
      Novo usuário adicionado com sucesso!
    </div>
  {% endif %}
{% endblock %}
