{% extends 'base.html' %}

 {% block title %}Bem vindo ao Sistema de Sorteio WEB{% endblock %}

{% block content %}
<h1>Bem vindo ao Sistema de Sorteio WEB</h1>

  <div id="opcoes">
    <a id="cadastrar" style="text-decoration: none; background-color: #774e03; color: white; padding: 10px; border-radius: 5px;" href="{{ url_for('auth.cadastrar_usuario') }}">Sou novo usuário</a>
    <a id="fazerlogin" style="text-decoration: none; background-color:#774e03; color: white; padding: 10px; border-radius: 5px;" href="{{ url_for('auth.login_usuario') }}">Fazer login</a>
  </div> 
{% endblock %}