<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sistema de Sorteios WEB{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header class="main-header">
        <img src="{{ url_for('static', filename='img/padocaffe imagem.jpeg') }}" alt="Logo Padocaffe" style="height: 100px;">
        <h1>Padocaffe</h1>
    </header>
    <nav class="navbar">
      <h1>Bem vindo!</h1>
      <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span></li>
            <li><a class="navbar-item" href="{{ url_for('auth.logout') }}">Sair</a></li>
            <li><a class="navbar-item" href="{{ url_for('admin.index') }}">Área de Administrador</a></li>
        {% else %}
            <li><a class="navbar-item" href="{{ url_for('auth.login') }}">Área de Administrador</a></li>
            <li><a class="navbar-item" href="{{ url_for('bilhetes.index') }}">Voltar ao Início</a></li>
        {% endif %}
      </ul>
    </nav>

    <main>
      <div style="display: flex; align-items: center; gap: 12px;">
        <h1 style="margin: 0;">Sistema de Sorteios WEB</h1>
      </div>
    

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

      <section class="content">
      {% block content %}{% endblock %}
      </section>
    </main>
  </body>
</html>
